@import "backdrop";
@import "dropdown";
@import "drawer";
@import "form";
@import "table";

.pageHeader {
    display: flex;
    height: 65px;
    padding: 10px 0;
}

.pageHeader__title {
    color: #434349;
    font-size: 1.35rem;
    font-weight: 500;
    margin: 0;
    padding: 0 1rem 0 0;
}

.pageHeader__left {
    align-items: center;
    display: flex;
    height: 45px;
}

.pageHeader__separator {
    background: #dbdce7;
    height: 22px;
    margin: 0 1rem 0 0;
    width: 1px;
}

.pageHeader__actionBar {
    align-items: center;
    display: flex;
    height: 45px;
}

.pagePanel {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 25px;
}

.pagePanel__header {
    margin-bottom: 2.2rem;
}

.pagePanel__footer {
    margin-top: 2.2rem;
}

.pagePanel__headerWrapper {
    align-items: center;
    display: flex;
}

.pagePanel__title {
    color: #595d6e;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0;
    padding-right: 1rem;
}

.pagePanel__toolbar {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    height: 25px;
}

.pagePanel__toolbarSpread {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.pagePanel__separator {
    background: #dbdce7;
    height: 22px;
    margin: 0 1rem 0 0;
    width: 1px;
}

.pagePanel__subTitle {
    color: #74788d;
    margin-top: 0.44rem;
}

.pagePanel__content {
    th {
        font-size: 1rem;
        font-weight: 500;
    }
}
