.mediaDetails {
    background: white;
    bottom: 1.5rem;
    left: 1.5rem;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 10000;
}

.mediaDetails__container {
    border: 1px solid #dbdce7;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.mediaDetails__header {
    border-bottom: 1px solid #dbdce7;
    display: flex;
    height: 50px;
}

.mediaDetails__title {
    color: #434349;
    flex: 1 0 auto;
    font-size: 1.35rem;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    padding-left: 1rem;
}

.mediaDetails__toolbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mediaDetails__toolbarButton {
    border-left: 1px solid #dbdce7;
    color: #434349;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 17px;
    justify-content: center;
    height: 50px;
    text-align: center;
    transition: .25s ease;
    width: 50px;

    &:hover {
        background-color: #ddd;
    }
}

.mediaDetails__body {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.mediaDetails__imageWrapper {
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    flex: 1 0 auto;
    padding: 1rem;
    position: relative;
}

.mediaDetails__absoluteImageContainer {
    height: calc(100% - 2rem);
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: calc(100% - 2rem);
}

.mediaDetails__image {
    max-height: 100%;
    max-width: 100%;
}

.mediaDetails__metaWrapper {
    background-color: #f3f3f3;
    border-left: 1px solid #dbdce7;
    box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    width: 400px;
}

.mediaDetails__staticInfo {
    border-bottom: 1px solid #dbdce7;
    color: #434349;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 1rem;

    strong {
        font-weight: 600;
    }
}

.mediaDetails__form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
}

.mediaDetails__formBody {
    flex: 1 1 auto;
    overflow: auto;
    padding: 1rem;
}

.mediaDetails__formFooter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.mediaDetails__formLabel {
    color: #434349;
}

.mediaDetails__formGroup {
    + .mediaDetails__formGroup {
        margin-top: 1rem;
    }
}
