@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap");

html {
    line-height: 1.15;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
}

body {
    color: #646c9a;
    display: flex;
    flex-direction: column;
}

a:link, a:active, a:visited, a:hover {
    color: #505ae2;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.btn--raised {
    box-shadow: 0px 4px 16px 0px rgba(88, 103, 221, 0.15);
}

.fa-spin {
    animation: fa-spin 1s infinite linear;
}
