.drawer {
    background: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), -webkit-box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
    width: 500px;
    z-index: 100000;

    > form {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
    }
}

.drawer--position-right {
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
    right: 0;
    transform: translateX(100%);

    &.drawer--isOpen {
        transform: none;
    }
}

.drawer__header {
    align-items: center;
    border-bottom: 1px solid #dbdce7;
    display: flex;
    flex: 0 0 60px;
    height: 60px;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.drawer__title {
    color: #434349;
    font-size: 1.35rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.drawer__close {
    font-size: 22px;
    font-weight: 200;
}

.drawer__body {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.5rem;
}

.drawer__footer {
    border-top: 1px solid #dbdce7;
    padding: 1rem;
    text-align: right;
}

.drawer__footer {
    button + button {
        margin-left: 1rem;
    }
}
